@use '../variables' as v;
@import '../adaptive';

header{
    background: v.$white;
    width: 100%;
    max-width: 100vw;    
    height: 120px;
    .content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            font-size: 23px;
            line-height: 16px;
            color: v.$black;
            font-weight: 600;
            text-decoration: none;
        }
        .navbar{
            display: flex;
            gap: 24px;
            align-items: center;
            .user{
                color: v.$black;
                text-decoration: none;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                }
            .btn{
                border-radius: 8px;
                border: v.$primary-green solid 1px;
                padding: 8px 16px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                color: v.$primary-green;
                cursor: pointer;
            }
        }
        .menu{
            display: none;
        }
    }
}